.opinion-primary-section {
    &__content {
        width: 100%;
        display: flex;
        &--left {
            width: 50%;
            padding: 0 16px;
            .decoration-img {
                width: 100%;
            }
        }
        &--right {
            width: 50%;
            padding-left: 5%;
            padding-right: 16px;
            p {
                padding: 0 16px;
                margin-bottom: 30px;
            }
            .swiper {
                
                .swiper-wrapper {
                    .swiper-slide {
                        padding: 20px 16px;
                        background-color: $blue;
                        border-radius: 6px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        &--stars {
                            margin-bottom: 15px;
                            i {
                                font-size: 25px;
                                margin-right: 6px;
                                color: $gold;
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                        &--opinion {
                            position: relative;
                            display: inline-block;
                            padding: 0;
                        }
                        &--name {
                            margin-bottom: 15px;
                            span {
                                font-size: 2.3rem;
                            }
                        }
                    }
                }
                .swiper-pagination {
                    span {
                        width: 12px;
                        height: 12px;
                        background-color: $dark-green;
                        
                    }
                    .swiper-pagination-bullet-active {
                        background-color: $color-white;
                    }
                }
            }
        }
    }
}

@include break-point-down(mb) {
    .opinion-primary-section {
        &__content {
            flex-direction: column;
            &--left {
                width: 100%;
            }
            &--right {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}