// main colors

$color-black: #000;
$color-white: #fff;

$dark: #151515;
$purple: #696FF8;
$light-pink: #CACCFF;
$light-green: #CDF658;
$dark-green: #B8BEA7;
$pink: #F17ED8;
$deep-blue: #7F8BF2;
$blue: #5565F6;
$strong-red: #B8251C;
$deep-green: #499742;
$grey: #2C2C2C;
$turquoise: #6CE0E8;
$gold: #F8CA1E;
$dark-blue: #0C68B2;
$dark-blue-acctive: #3C4AC7;