.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-borderless {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 10px;
}

.h1-home {
  font-size: 15.3rem;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  line-height: 15.3rem;
}

@media (max-width: 1100px) {
  .h1-home {
    font-size: 15.3rem;
    line-height: 15.3rem;
  }
}

h1 {
  font-size: 16rem;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  line-height: 12rem;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 12rem;
    line-height: 9rem;
  }
}

h2 {
  font-size: 10rem;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  line-height: 8rem;
}

@media (max-width: 1100px) {
  h2 {
    font-size: 7rem;
    line-height: 6rem;
  }
}

h3 {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Bebas Neue", cursive;
}

@media (max-width: 1100px) {
  h3 {
    font-size: 2.3rem;
  }
}

p,
span {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

@media (max-width: 1100px) {
  p,
  span {
    font-size: 2rem;
  }
}

p {
  line-height: 3rem;
}

@media (max-width: 1100px) {
  p {
    line-height: 2rem;
  }
}

a {
  text-decoration: none;
}

body, html {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  background-color: #151515;
  color: #fff;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-primary {
  color: #fff;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-primary--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.btn-primary--content .button-value {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  margin-right: 1rem;
}

.btn-primary--content i {
  font-size: 2.7rem;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.btn-primary:hover .btn-primary--content i {
  -webkit-transform: translateX(0.5rem) translateY(3px);
          transform: translateX(0.5rem) translateY(3px);
}

@media (max-width: 1100px) {
  .btn-primary--content .button-value {
    font-size: 2.2rem;
  }
  .btn-primary--content i {
    font-size: 2rem;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

.btn-secondary-red {
  background-color: #B8251C;
}

.btn-secondary-green {
  background-color: #499742;
}

.btn-secondary {
  color: #fff;
  display: inline-block;
  padding: 7px 60px;
  border-radius: 5px;
}

.btn-secondary--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.btn-secondary--content .button-value {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  margin-right: 1rem;
}

.btn-secondary--content i {
  font-size: 2.7rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-secondary:hover .btn-secondary--content i {
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

@media (max-width: 1100px) {
  .btn-secondary--content .button-value {
    font-size: 2.2rem;
  }
  .btn-secondary--content i {
    font-size: 2rem;
  }
}

@media (max-width: 743px) {
  .btn-secondary {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation-section {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}

.navigation-section .navigation-section__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.navigation-section .navigation-section__content--logo {
  z-index: 100;
}

.navigation-section .navigation-section__content--logo img {
  width: 65px;
}

.navigation-section .navigation-section__content--navigation {
  position: relative;
  z-index: 100;
}

.navigation-section .navigation-section__content--navigation .hamburger-button {
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation-section .navigation-section__content--navigation .hamburger-button .line {
  width: 40px;
  height: 6px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation-section .navigation-section__content--navigation .hamburger-button .line:nth-child(1) {
  margin-bottom: 5px;
}

.navigation-section .navigation-section__content--navigation .hamburger-button .line:nth-child(2) {
  margin-top: 5px;
}

.navigation-section .navigation-section__content--navigation .hamburger-button .x-button {
  font-size: 40px;
  color: #fff;
  position: absolute;
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.navigation-section .nav-list-content {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  min-height: 480px;
  overflow: hidden;
  pointer-events: none;
}

.navigation-section .nav-list-content .list-container {
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  height: 100%;
  background-color: #B8BEA7;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
}

.navigation-section .nav-list-content .list-container .nav-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding-left: 13rem;
  overflow: hidden;
}

.navigation-section .nav-list-content .list-container .nav-list li a {
  font-size: 10rem;
  font-family: "Bebas Neue", cursive;
  color: #fff;
}

.navigation-section--active .nav-list-content {
  pointer-events: all;
}

.navigation-section--active .nav-list-content .list-container {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navigation-section--active .navigation-section__content--navigation .hamburger-button .line {
  width: 0;
}

.navigation-section--active .navigation-section__content--navigation .hamburger-button .line:nth-child(1) {
  -webkit-transition: .3s;
  transition: .3s;
}

.navigation-section--active .navigation-section__content--navigation .hamburger-button .x-button {
  -webkit-transition-delay: .3s !important;
          transition-delay: .3s !important;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 1100px) {
  .navigation-section .nav-list-content {
    width: 100%;
  }
  .navigation-section .nav-list-content .list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-section .nav-list-content .list-container .nav-list {
    padding-left: 0;
  }
  .navigation-section .nav-list-content .list-container .nav-list li a {
    font-size: 10rem;
  }
}

@media (max-width: 743px) {
  .navigation-section .nav-list-content .list-container .nav-list li a {
    font-size: 7rem;
  }
}

.dashboard-section {
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 480px;
  overflow: hidden;
}

.dashboard-section .dashboard-section-content {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard-section .dashboard-section-content--heading {
  text-align: center;
  margin-top: 100px;
}

.dashboard-section .dashboard-section-content--heading .subheading {
  font-family: "Bebas Neue", cursive;
  font-size: 5.2rem;
  display: block;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

.dashboard-section .dashboard-section-content--heading .h1-home {
  color: #696FF8;
  position: relative;
  color: #CACCFF;
}

.dashboard-section .dashboard-section-content--continue-button {
  margin-top: 50px;
}

.dashboard-section .dashboard-section-content--continue-button a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-section .dashboard-section-content--continue-button a h3 {
  margin-bottom: 10px;
  -webkit-transition: .15s;
  transition: .15s;
}

.dashboard-section .dashboard-section-content--continue-button a .arrow-container {
  width: 36px;
  height: 36px;
  background-color: #CACCFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: .15s;
  transition: .15s;
}

.dashboard-section .dashboard-section-content--continue-button a .arrow-container i {
  font-size: 22px;
}

.dashboard-section .dashboard-section-content--continue-button a:hover .arrow-container {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.dashboard-section .dashboard-section-content--continue-button a:hover h3 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dashboard-section .dashboard-section-content .succes-text {
  max-width: 500px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.dashboard-section .dashboard-section-content--succes-btn {
  padding: 0 16px;
}

.dashboard-section--bg-cover {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/home-page/home.jpg");
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-section--bg-cover::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 743px) {
  .dashboard-section .dashboard-section-content--heading {
    margin-top: -50px;
  }
  .dashboard-section--bg-cover {
    background-position: top;
    background-image: url("../../assets/imgs/home-page/home-mobile.jpg");
  }
}

.about-primary-section {
  width: 100%;
  background-image: url("../../assets/imgs/home-page/info.jpg");
  background-position: center top;
  background-position-y: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 30px 0;
  position: relative;
}

.about-primary-section::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.about-primary-section .about-section-content {
  z-index: 1;
  position: relative;
}

.about-primary-section .about-section-content__heading h2 {
  color: #CACCFF;
}

.about-primary-section .about-section-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-primary-section .about-section-content__text p {
  margin: 20px 0 30px 0;
  max-width: 50%;
  display: block;
}

@media (max-width: 1100px) {
  .about-primary-section {
    padding: 40px 0 30px 0;
    background-position-y: center top;
  }
}

@media (max-width: 743px) {
  .about-primary-section .about-section-content__text p {
    max-width: 100%;
  }
}

.team-cards-section {
  padding: 50px 0;
}

.team-cards-section .team-cards-section-content__heading {
  position: relative;
  z-index: 2;
}

.team-cards-section .team-cards-section-content__heading h2 {
  color: #CDF658;
  text-align: right;
  position: absolute;
  right: 10px;
  top: 10px;
}

.team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 20px 10px;
}

.team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide .person-skills {
  font-size: 3.5rem;
  font-family: "Noto Serif Display", serif;
  line-height: 3.1rem;
  z-index: 1;
}

.team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide .person-name {
  font-family: "Bebas Neue", cursive;
  font-size: 10rem;
  line-height: 9.4rem;
  z-index: 1;
}

.team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide .person-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide .person-1 {
  background-image: url("../../assets/imgs/home-page/person1.jpg");
}

.team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide .person-2 {
  background-image: url("../../assets/imgs/home-page/person2.jpg");
}

.team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide .person-3 {
  background-image: url("../../assets/imgs/home-page/person3.jpg");
}

.team-cards-section .team-cards-section-content__slider .swiper .swiper-pagination span {
  width: 12px;
  height: 12px;
  background-color: #B8BEA7;
}

.team-cards-section .team-cards-section-content__slider .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #CDF658;
}

@media (max-width: 1100px) {
  .team-cards-section {
    padding: 40px 0;
  }
  .team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide {
    height: 570px;
  }
  .team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide .person-skills {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
  .team-cards-section .team-cards-section-content__slider .swiper .swiper-wrapper .swiper-slide .person-name {
    font-size: 8rem;
    line-height: 7.4rem;
  }
}

@media (max-width: 743px) {
  .team-cards-section {
    padding: 0;
  }
}

.galery-primary-section {
  width: 100%;
}

.galery-primary-section__heading-img {
  width: 100%;
  background-image: url("../../assets/imgs/home-page/galery.jpg");
  background-position: center;
  background-size: cover;
  padding: 90px 0;
  position: relative;
}

.galery-primary-section__heading-img::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.galery-primary-section__heading-img .galery-heading {
  color: #F17ED8;
  position: relative;
  z-index: 1;
}

.galery-primary-section .galery-content .sticky-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1000px;
}

.galery-primary-section .galery-content .sticky-imgs__left {
  width: 50%;
  height: 100%;
}

.galery-primary-section .galery-content .sticky-imgs__left .sticky-img {
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.galery-primary-section .galery-content .sticky-imgs__left--top {
  background-image: url("../../assets/imgs/home-page/sticky2.jpg");
}

.galery-primary-section .galery-content .sticky-imgs__left--bottom {
  background-image: url("../../assets/imgs/home-page/sticky3.jpg");
}

.galery-primary-section .galery-content .sticky-imgs__right {
  width: 50%;
  height: 100%;
}

.galery-primary-section .galery-content .sticky-imgs__right--top {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/imgs/home-page/sticky1.jpg");
}

.galery-primary-section .galery-content .single-img {
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/imgs/home-page/sticky4.jpg");
}

.galery-primary-section .galery-additional-info {
  max-width: 50%;
  padding: 40px 0 40px 0;
}

.galery-primary-section .galery-additional-info p {
  margin-bottom: 35px;
}

@media (max-width: 1100px) {
  .galery-primary-section__heading-img {
    padding: 20px 0;
  }
  .galery-primary-section .galery-content .sticky-imgs {
    height: 700px;
  }
  .galery-primary-section .galery-content .single-img {
    height: 450px;
  }
  .galery-primary-section .galery-additional-info {
    padding: 20px 0 40px 0;
  }
  .galery-primary-section .galery-additional-info p {
    margin-bottom: 25px;
  }
}

@media (max-width: 743px) {
  .galery-primary-section .galery-additional-info {
    max-width: 100%;
  }
}

.opinion-primary-section__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.opinion-primary-section__content--left {
  width: 50%;
  padding: 0 16px;
}

.opinion-primary-section__content--left .decoration-img {
  width: 100%;
}

.opinion-primary-section__content--right {
  width: 50%;
  padding-left: 5%;
  padding-right: 16px;
}

.opinion-primary-section__content--right p {
  padding: 0 16px;
  margin-bottom: 30px;
}

.opinion-primary-section__content--right .swiper .swiper-wrapper .swiper-slide {
  padding: 20px 16px;
  background-color: #5565F6;
  border-radius: 6px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opinion-primary-section__content--right .swiper .swiper-wrapper .swiper-slide--stars {
  margin-bottom: 15px;
}

.opinion-primary-section__content--right .swiper .swiper-wrapper .swiper-slide--stars i {
  font-size: 25px;
  margin-right: 6px;
  color: #F8CA1E;
}

.opinion-primary-section__content--right .swiper .swiper-wrapper .swiper-slide--stars i:last-child {
  margin-right: 0;
}

.opinion-primary-section__content--right .swiper .swiper-wrapper .swiper-slide--opinion {
  position: relative;
  display: inline-block;
  padding: 0;
}

.opinion-primary-section__content--right .swiper .swiper-wrapper .swiper-slide--name {
  margin-bottom: 15px;
}

.opinion-primary-section__content--right .swiper .swiper-wrapper .swiper-slide--name span {
  font-size: 2.3rem;
}

.opinion-primary-section__content--right .swiper .swiper-pagination span {
  width: 12px;
  height: 12px;
  background-color: #B8BEA7;
}

.opinion-primary-section__content--right .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

@media (max-width: 743px) {
  .opinion-primary-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .opinion-primary-section__content--left {
    width: 100%;
  }
  .opinion-primary-section__content--right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.contact-primary-section {
  position: relative;
  margin-top: 30px;
  padding: 30px 0;
  height: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-primary-section__content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-primary-section__content--left {
  width: 50%;
}

.contact-primary-section__content--left p {
  margin-bottom: 35px;
}

.contact-primary-section__content--right {
  width: 50%;
  text-align: right;
}

.contact-primary-section__content--right h2 {
  color: #6CE0E8;
}

.contact-primary-section--bg-cover {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/home-page/contact.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-primary-section--bg-cover::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1100px) {
  .contact-primary-section {
    height: 400px;
  }
}

@media (max-width: 743px) {
  .contact-primary-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-primary-section__content--left {
    width: 100%;
  }
  .contact-primary-section__content--right {
    width: 100%;
    margin-bottom: 40px;
  }
}

.footer-section {
  background-color: #2C2C2C;
}

.footer-section .footer-section-content {
  position: relative;
  padding: 40px 0 20px 0;
}

.footer-section .footer-section-content__back-button {
  width: 36px;
  height: 36px;
  background-color: #CACCFF;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  top: -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.footer-section .footer-section-content__back-button i {
  font-size: 22px;
  color: #fff;
}

.footer-section .footer-section-content__back-button:hover {
  top: -24px;
}

.footer-section .footer-section-content__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-section .footer-section-content__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section .footer-section-content__nav ul li {
  margin-right: 40px;
}

.footer-section .footer-section-content__nav ul li:last-child {
  margin-right: 0;
}

.footer-section .footer-section-content__nav ul li a {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 2.3rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-section .footer-section-content__nav ul li a:hover {
  color: #F8CA1E;
}

.footer-section .footer-section-content__logo-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section .footer-section-content__logo-social--logo img {
  height: 31px;
}

.footer-section .footer-section-content__logo-social--social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section .footer-section-content__logo-social--social ul li {
  margin-right: 12px;
}

.footer-section .footer-section-content__logo-social--social ul li:last-child {
  margin-right: 0;
}

.footer-section .footer-section-content__logo-social--social ul li a {
  color: #fff;
}

.footer-section .footer-section-content__logo-social--social ul li a i {
  font-size: 25px;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-section .footer-section-content__logo-social--social ul li a:hover i {
  color: #F8CA1E;
}

.footer-section .footer-section-content__policy {
  margin-top: 16px;
}

.footer-section .footer-section-content__policy span {
  font-size: 1.5rem;
}

.footer-section .footer-section-content__policy span a {
  color: #5565F6;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-section .footer-section-content__policy span a:hover {
  color: #F8CA1E;
}

.mini-dashboard-section {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.mini-dashboard-section .dashboard-section-content {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mini-dashboard-section .dashboard-section-content--heading {
  text-align: center;
}

.mini-dashboard-section .dashboard-section-content--heading h1 {
  color: #CACCFF;
}

.mini-dashboard-section .dashboard-section-content--continue-button {
  margin-top: 50px;
}

.mini-dashboard-section .dashboard-section-content--continue-button a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-dashboard-section .dashboard-section-content--continue-button a h3 {
  margin-bottom: 10px;
  -webkit-transition: .15s;
  transition: .15s;
}

.mini-dashboard-section .dashboard-section-content--continue-button a .arrow-container {
  width: 36px;
  height: 36px;
  background-color: #CACCFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: .15s;
  transition: .15s;
}

.mini-dashboard-section .dashboard-section-content--continue-button a .arrow-container i {
  font-size: 22px;
}

.mini-dashboard-section .dashboard-section-content--continue-button a:hover .arrow-container {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.mini-dashboard-section .dashboard-section-content--continue-button a:hover h3 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mini-dashboard-section--bg-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mini-dashboard-section--bg-cover::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.mini-dashboard-section .about-section-img {
  background-image: url("../../assets/imgs/home-page/info.jpg");
}

.mini-dashboard-section .contact-section-img {
  background-image: url("../../assets/imgs/home-page/contact.jpg");
}

.mini-dashboard-section .galery-section-img {
  background-image: url("../../assets/imgs/home-page/galery.jpg");
}

@media (max-width: 1100px) {
  .mini-dashboard-section {
    height: 600px;
  }
  .mini-dashboard-section .dashboard-section-content {
    height: 600px;
  }
}

@media (max-width: 743px) {
  .mini-dashboard-section {
    height: 480px;
  }
  .mini-dashboard-section .dashboard-section-content {
    height: 480px;
  }
}

.information-section {
  padding: 40px 0;
}

.information-section .information-section-content h2 {
  margin-bottom: 20px;
}

.information-section .information-section-content__text {
  max-width: 50%;
  z-index: 3;
  position: relative;
}

.information-section .information-section-content__text p:nth-child(2) {
  margin: 30px 0 15px 0;
}

.information-section .information-section-cover {
  margin-top: -40px;
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  background-image: url("../../assets/imgs/home-page/info-2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.information-section .information-section-cover::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.information-section .information-section-cover a {
  z-index: 2;
}

@media (max-width: 1100px) {
  .information-section .information-section-cover {
    padding: 16px;
    height: 500px;
  }
}

@media (max-width: 743px) {
  .information-section .information-section-cover {
    height: 340px;
  }
  .information-section .information-section-content__text {
    max-width: 100%;
  }
}

.aditional-information-section .aditional-information-section-content--heading {
  margin-bottom: 20px;
}

.aditional-information-section .aditional-information-section-content--text-single {
  margin-bottom: 20px;
}

.aditional-information-section .aditional-information-section-content--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.aditional-information-section .aditional-information-section-content--text p {
  max-width: 50%;
}

.aditional-information-section .aditional-information-section-content--text p:nth-child(1) {
  margin-right: 20px;
}

.aditional-information-section .aditional-information-section-content--text p:nth-child(2) {
  margin-left: 20px;
}

.aditional-information-section .aditional-information-section-imgs--single {
  width: 100%;
  height: 500px;
  background-image: url("../../assets/imgs/home-page/sticky2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aditional-information-section .aditional-information-section-imgs--both {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 800px;
}

.aditional-information-section .aditional-information-section-imgs--both--left, .aditional-information-section .aditional-information-section-imgs--both--right {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aditional-information-section .aditional-information-section-imgs--both--left {
  background-image: url("../../assets/imgs/home-page/sticky3.jpg");
}

.aditional-information-section .aditional-information-section-imgs--both--right {
  background-image: url("../../assets/imgs/home-page/sticky1.jpg");
}

@media (max-width: 743px) {
  .aditional-information-section .aditional-information-section-content--text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aditional-information-section .aditional-information-section-content--text p {
    max-width: 100%;
  }
  .aditional-information-section .aditional-information-section-content--text p:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .aditional-information-section .aditional-information-section-content--text p:nth-child(2) {
    margin-left: 0px;
  }
  .aditional-information-section .aditional-information-section-imgs--single {
    height: 200px !important;
  }
  .aditional-information-section .aditional-information-section-imgs--both {
    height: 300px !important;
  }
}

@media (max-width: 1100px) {
  .aditional-information-section .aditional-information-section-imgs--single {
    height: 400px;
  }
  .aditional-information-section .aditional-information-section-imgs--both {
    height: 600px;
  }
}

.opinion-section .opinion-section-content h2 {
  padding-left: 15px;
}

.opinion-section .opinion-section-content__opinion {
  margin: 30px 0 50px 0;
}

.opinion-section .opinion-section-content__opinion .swiper .swiper-wrapper .swiper-slide {
  padding: 20px 16px;
  background-color: #5565F6;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opinion-section .opinion-section-content__opinion .swiper .swiper-wrapper .swiper-slide--stars {
  margin-bottom: 15px;
}

.opinion-section .opinion-section-content__opinion .swiper .swiper-wrapper .swiper-slide--stars i {
  font-size: 25px;
  margin-right: 6px;
  color: #F8CA1E;
}

.opinion-section .opinion-section-content__opinion .swiper .swiper-wrapper .swiper-slide--stars i:last-child {
  margin-right: 0;
}

.opinion-section .opinion-section-content__opinion .swiper .swiper-wrapper .swiper-slide--opinion {
  position: relative;
  display: inline-block;
}

.opinion-section .opinion-section-content__opinion .swiper .swiper-wrapper .swiper-slide--name {
  margin-bottom: 15px;
}

.opinion-section .opinion-section-content__opinion .swiper .swiper-wrapper .swiper-slide--name span {
  font-size: 2.3rem;
}

.opinion-section .opinion-section-content__opinion .swiper .swiper-pagination span {
  width: 12px;
  height: 12px;
  background-color: #B8BEA7;
}

.opinion-section .opinion-section-content__opinion .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.opinion-section .opinion-section-content__button {
  width: 100%;
}

.opinion-section .opinion-section-content__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 14px 0;
  background-color: #CDF658;
  font-size: 6rem;
  font-family: "Bebas Neue", cursive;
  color: #151515;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.opinion-section .opinion-section-content__button a:hover {
  background-color: #499742;
}

@media (max-width: 743px) {
  .opinion-section .opinion-section-content h2 {
    margin-top: 30px;
  }
}

.galery-section .galery-section-content {
  width: 100%;
}

.galery-section .galery-section-content__btn {
  margin: 30px 0 60px 0;
  padding: 0 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section .contact-section-content {
  margin-top: 40px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-section .contact-section-content__left {
  padding-right: 20px;
  width: 50%;
}

.contact-section .contact-section-content__left--text {
  margin-top: 20px;
}

.contact-section .contact-section-content__left--contact-links {
  margin-top: 30px;
  margin-bottom: 10px;
}

.contact-section .contact-section-content__left--contact-links ul {
  list-style: none;
}

.contact-section .contact-section-content__left--contact-links ul li:nth-child(1) {
  margin-bottom: 20px;
}

.contact-section .contact-section-content__left--contact-links ul li a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact-section .contact-section-content__left--contact-links ul li a i {
  font-size: 30px;
  margin-right: 15px;
}

.contact-section .contact-section-content__left--contact-links ul li a span {
  text-transform: uppercase;
  font-size: 700;
}

.contact-section .contact-section-content__left--contact-links ul li a:hover {
  color: #F8CA1E;
}

.contact-section .contact-section-content__left--social {
  margin-top: 30px;
}

.contact-section .contact-section-content__left--social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .contact-section-content__left--social ul li {
  margin-right: 18px;
}

.contact-section .contact-section-content__left--social ul li:last-child {
  margin-right: 0;
}

.contact-section .contact-section-content__left--social ul li a {
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact-section .contact-section-content__left--social ul li a i {
  font-size: 30px;
}

.contact-section .contact-section-content__left--social ul li a:hover {
  color: #F8CA1E;
}

.contact-section .contact-section-content__right {
  width: 50%;
}

.contact-section .contact-section-content__right form {
  border-radius: 10px;
  width: 100%;
  padding: 30px 18px 15px 18px;
  background-color: #2C2C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .contact-section-content__right form h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.contact-section .contact-section-content__right form .input-name {
  margin-bottom: 2px;
}

.contact-section .contact-section-content__right form input,
.contact-section .contact-section-content__right form textarea {
  padding: 6px 5px;
  font-size: 3rem;
  font-family: "PT Sans Narrow", sans-serif;
  margin-bottom: 10px;
}

.contact-section .contact-section-content__right form textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 300px;
}

.contact-section .contact-section-content__right form button {
  padding: 7px 0;
  background-color: #499742;
  color: #fff;
  margin-top: 10px;
  border: none;
}

.contact-section .contact-section-content__right form button span {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

@media (max-width: 1100px) {
  .contact-section .contact-section-content__right input,
  .contact-section .contact-section-content__right textarea {
    font-size: 2rem !important;
  }
}

@media (max-width: 743px) {
  .contact-section .contact-section-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-section .contact-section-content__left {
    width: 100%;
    padding-right: 0px;
  }
  .contact-section .contact-section-content__right {
    width: 100%;
    margin-top: 30px;
  }
}

.colabo-section .colabo-section-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colabo-section .colabo-section-content__floor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colabo-section .colabo-section-content__floor--col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  height: 334px;
}

.colabo-section .colabo-section-content__floor--col--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colabo-section .colabo-section-content__floor--col--name .name {
  font-family: "Bebas Neue", cursive;
  font-size: 7rem;
}

.colabo-section .colabo-section-content__floor .col1 {
  background-color: #6CB25A;
}

.colabo-section .colabo-section-content__floor .col2 {
  background-color: #4884BB;
}

.colabo-section .colabo-section-content__floor .col3 {
  background-color: #4A34CE;
}

.colabo-section .colabo-section-content__floor .col4 {
  background-color: #88248A;
}

.colabo-section .colabo-section-content__floor .col5 {
  background-color: #A43959;
}

.colabo-section .colabo-section-content__floor .col6 {
  background-color: #9A8F2E;
}

@media (max-width: 1100px) {
  .colabo-section .colabo-section-content__floor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .colabo-section .colabo-section-content__floor--col {
    width: 100%;
    height: 100%;
    padding: 15px 10px;
  }
  .colabo-section .colabo-section-content__floor--col .name {
    margin-top: 20px;
    font-size: 5rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 743px) {
  .colabo-section .colabo-section-content__floor--col .width-100 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */